#parent__div {
  padding: 0 1rem;
}

/* max width wrap large device control */
.content-wrapper {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

/* logo custom design */
#logo {
  text-transform: uppercase;
  font-family: "Oleo Script", system-ui;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  font-weight: 600;
  color: #ff0000;
  font-size: 1.7rem;
}
.nav-link {
  text-transform: uppercase;
  font-weight: 600;
}

/* Carousel Container */
#carousel__container {
  width: 100%;
  height: 350px;
  background-color: #ffd3cd;
  margin: 5px 0;
  box-shadow: 2px 4px 4px gray;
}

/* Carousel Absolute custom Text design */
.text-overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
}

/* Carousel caption custom design */
#text_carousel_over {
  background-color: rgba(0, 0, 0, 0.3);
  color: yellow;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  padding: 10px;
}

/* Carousel image custom width and height */
#carousel__image {
  width: 300px;
}

/* Card section one */
#section__one,
#section__two {
  padding: 0.6rem;
}
/* Card image customize */
#card_image_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 8px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 4px 4px gray;
}
#card_img {
  width: 140px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}
#card_img:hover {
  transform: scale(1.1);
}

/* Timer custom styling */
#timer {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  background-color: #4caf50;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}

/* About section start */
#About {
  padding-bottom: 3.3rem;
}

/* Title about Section */
.title_about_section {
  color: black;
  text-transform: uppercase;
  font-family: "Oleo Script", system-ui;
  text-shadow: 2px 2px 2px rgba(79, 1, 205, 0.8);
  font-size: 2.5rem;
  padding-top: 5rem;
}

/* Selling image container */
#selling__image {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  margin: auto;
  padding-top: 2.5rem;
}

#selling__image:hover {
  transform: scale(1.3);
}

/* Contact form custom styling */
#contact_form {
  margin-top: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  color: #333;
}

/* Footer custom styling  Start*/
.footer {
  text-align: center; /* This centers the entire content inside the footer */
}

.footer__title {
  font-size: larger;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
}
.social-media-icons {
  display: flex;
  justify-content: center; /* Centers the icons horizontally */
  gap: 10px; /* Adds some spacing between the icons */
}
.social-media-icons a,
i {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
}
/* Footer custom styling  End*/

/* Add to cart button */
#add-to-cart {
  background-color: #a72894;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#add-to-cart:hover {
  background-color: #080909;
  color: white;
}
